.gameTitle {
    font-family: Dungeon;
    font-size: calc(max(min(11vw,150px),55px));
}

.mainContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e4a981;
        background-image: url(../images/parchment_background.jpg);
        background-size: cover;
        filter: grayscale(0.2) contrast(0.6) brightness(1.5);
        z-index: -1;
    }
}
