.questionRow {
    text-align: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}

.answerContainer {
    margin-bottom: 3vh;
}

.correct {
    background: #21a721;
    pointer-events: none;
}

.wrong {
    background: #bb1e03;
    pointer-events: none;
}

.pending {
    background: orange;
    pointer-events: none;
}


.other {
    pointer-events: none;
}

.hiddenButton {
    visibility: hidden;
}